// Font Classes
.is-nunito {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;

    &.is-light {
        font-weight: 300;
    }

    &.is-lighter {
        font-weight: 200;
    }

    &.is-bold {
        font-weight: 700;
    }
}

.is-roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    &.is-light {
        font-weight: 300;
    }

    &.is-lighter {
        font-weight: 100;
    }
}

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Colors
$black: #2F2F2F;
$white: #fff;
$creamwhite: #EBEBEB;
$oblack: $white;
$owhite: $black;

$primary: #07C700;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";


//// StudentsWeek Only
// Dashboard Styling
#dashboard {
    background-color: $creamwhite;
    height: calc(100% - 88px);

    @media screen and (max-width: 768px) {
        height: calc(100% - 52px);
    }
}

// Daycard
#cardsholder {
    overflow-y: auto;
    align-items: center;
    height: calc(100% - 72px);

    @media screen and (max-width: 768px) {
        scroll-snap-type: x mandatory;
    }

    @media screen and (max-height: 728px) {
        height: unset;
    }

    .daycard {
        background-color: transparentize($primary, .2);
        border-radius: 20px;
        margin-right: 30px;

        @media screen and (max-width: 768px) {
            flex-basis: 90vw;
            flex-shrink: 0;
            scroll-snap-align: center;
            min-height: 574px;
        }

        &:first-child {
            margin-left: 100px;
        }

        .hours {
            width: 90%;

            .hour {
                background-color: $creamwhite;
                padding: 10px;
                border-radius: 9px;
                cursor: pointer;

                font: {
                    family: 'Montserrat', sans-serif;
                    weight: 300;
                }
            }
        }
    }
}

.spacer {
    width: 60%;
    background-color: $creamwhite;
    height: 2px;
}


// Text Helpers
.is-black {
    color: $black;
}

.is-white {
    color: $white;
}

.is-uppercase {
    text-transform: uppercase;
}